body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    background-color: gray;
}

h1 {
    font-size: 45px;
    font-style: oblique;
    color: white;
    border-style:hidden;
    background-color: darkblue;
    border-radius: 50rem;
    
}

@media (min-width: 900px) {
    h1 {
        font-size: 80px;
        padding: 50px 25px; 
    }
}

.container {
    border-color: darkblue;
    border-style:groove;
    padding: 20px 10pX;
    box-shadow: 10px 20px;
    margin: 10%;
    border-radius: 20px 10px;
    background-color: whitesmoke;
}

#btn, #resetBtn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;

}

#btn:hover, #resetBtn:hover {
    background: yellow;
    color: black;
}

#text {
    color: green    
}

.result {
  font-size: 40px;
  margin-top: 10px;
}

.success {
  color: green;
  font-weight: bold;
  background-color: yellow;
  font-size: 40px;

}

.error {
  color: red;
  font-weight: bold;
  background-color: black;
  font-size: 30px;
}

#userInput {
    border-style:groove;
    border-color: darkblue;
}

